<p>Simple Calculator</p>
<form>
  <label for="num1">Number 1:</label>
  <input type="number" id="num1" [(ngModel)]="num1" name="num1" required>
  <br>
  <label for="num2">Number 2:</label>
  <input type="number" id="num2" [(ngModel)]="num2" name="num2" required>

  <div style="margin: 5px">
    <button style="margin: 3px" type="button" (click)="add()">Add</button>
    <button style="margin: 3px" type="button" (click)="subtract()">Subtract</button>
    <button style="margin: 3px" type="button" (click)="multiply()">Multiply</button>
    <button style="margin: 3px" type="button" (click)="divide()">Divide</button>
  </div>
    </form>
  <div *ngIf="result !== null">
  <p>Result: {{ result }}</p>
</div>

