<h2>**** 50 Angular Components ****</h2>

<ul>
  <li><a routerLink = "/Displayhelloworld" routerLinkActive="active">Click this to Display Hello World</a></li>
  <br>
  <li><button routerLink = "/Showhellobutton" routerLinkActive = "active">Click this to Display Hello World</button></li>
  <br>
  <li><a routerLink="/Displayname">Display Name</a></li>
  <br>
  <li><a routerLink="/Counter">Counter</a></li>
  <br>
  <li><a routerLink="/Simpleform">Simple Form</a></li>
  <br>
  <li><a routerLink="/Userage">User Age</a></li>
  <br>
  <li><a routerLink="/Usergreeting">User Greeting</a></li>
  <br>
  <li><a routerLink="/Calculator">Calculator</a></li>
  <br>
  <li><a routerLink="/Textlength">Text Length</a></li>
  <br>
  <li><a routerLink="/Currencyconverter">Currency Converter</a></li>
  <br>
  <li><a routerLink="/Evenoddchecker">Even or Odd Checker</a></li>
  <br>
  <li><a routerLink="/Wordreverser">Word Reverser</a></li>
  <br>
  <li><a routerLink="/Showdate">Show the date</a></li>
  <br>
  <li><a routerLink="/Showusername">Show the username</a></li>
  <br>
  <li><a routerLink="/Multiplicationtable">Multiplication Table</a></li>
  <br>
  <li><a routerLink="/Simplelogin">Simple Login</a></li>
  <br>
  <li><a routerLink="/Farehnheittocelcius">Farehnheit to Celcius</a></li>
  <br>
  <li><a routerLink="/Bookmarklist">Bookmark List</a></li>
  <br>




</ul>

<router-outlet></router-outlet>
